* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    color: black;
    background-color: whitesmoke;

    /*tamaño de las letras*/

    /* interlineado */
    text-align: justify;
}
/*imagen de la mina*/

.minita {
    height: 100px;
    width: 100px;
}

/*imagen de la serpiente*/

.serp {
    height: 80px;
    width: 80px;
}

h1 {

    color: black;
}

h2 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: rgb(236, 120, 11);
}

/* parrafos */

p {
    margin-bottom: 1.6em;
    /*margen inferior funciona como enter entre parrafos*/
}

.container {
    width: 80%;
    margin: auto;
}

/*estilos de los div de inicio de buscaminas y snake*/

.header {
    background: #333;
    color: white;
    padding: 1rem 0;
    /* hacer el menu fijo */
    position: fixed;
    left: 0;
    top: 0;
    /* ocuapamos todo el ancho */
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.header-menu {
    width: 80%;
    margin: auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    /* lo alineamos al centro */
    align-items: center;
    flex-wrap: wrap;
}

/* logo */
.img-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu-icon {
    display: none;
}

/* todos los "ul" que esten dentro de "navigation" */

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 150%;
}

.navigation ul li {
    /* uno al lado del otro */
    display: inline-block;
}

/* los enlaces dentro del menu */

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: rgb(236, 120, 11);
    color: white;
}


/*PIE DE PAGINA*/

.footer {
    background: #ade3f3;
    padding: 4rem 0;
    text-align: center;
    margin-top: 3rem;
    width: 100%;
}

.menu-link {
    color: black;
}

.fb {
    color: blue;
}

/* REPONSIVE */

/* todas las caracteristicas que se mostraran a continuancion seran cuando tenga un ancho maximo de 950px*/

@media only screen and (max-width: 950px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .navigation {
        width: 100%;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }
    /* los enlaces dentro del menu */
    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
    }
    .navigation ul li a:hover {
        background: rgb(236, 120, 11);
    }
    .container-snake {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }
    body .header {
        text-align: center;
    }
}

/*estilos de la página snake*/

#snake {
    background-color: #444;
    text-align: center;
}

.container-snake {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

canvas {
    border: solid 7px white;
    background: linear-gradient(
        0deg,
        rgba(0, 102, 204, 1) 0%,
        rgb(253, 149, 13) 100%
    );
    width: 400px;
    height: 400px;
    margin-top: 0;
}
@media only screen and (max-width: 860px) {
    canvas {
        margin-top: 10%;
    }
}
@media only screen and (max-width: 550px) {
    canvas {
        margin-top:10%;
    }
}
.h1-snake {
    color: white;
    font-size: 1.8rem;
}
.img-tecla {
    width: 200px;
    height: 200px;
}
/*estilos del pop up para guardar el resultado*/

#btn-1 {
    position: absolute;
    right: 0;
    top: 75%;
}

#resul {
    color: white;
    font-size: large;
}
main#contenido{
    padding-bottom: 0% !important;
    padding-top: 0% !important;
}
/*BUSCAMINAS*/
:root {
	--num-columnas: 10;
	--num-filas: 10;
	--size: 32px;
}

#tablero {
	padding: 0px;
    margin: 0;
	display: grid;
	grid-template-columns: repeat(var(--num-columnas), var(--size));
	grid-template-rows: repeat(var(--num-filas), var(--size));
	background-color: #BBBBBB;
	width: calc(var(--num-filas) * var(--size));
}

#tablero div {
	background-color: #BBBBBB;
	border-left: 2px solid #D3D3D3;
	border-top: 2px solid #D3D3D3;
	border-right: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	text-align: center;
	line-height: var(--size);
}

#tablero div.destapado {
	font-family: "Helvetica", "Courier New", Courier, monospace;
	font-weight: bold;
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	text-shadow: 1px 1px 2px #999999;
}

#tablero div.sinmarcar {
	background-color: #FF0000;
}

#tablero div.banderaErronea {
	background-color: #AAAAAA;
	border: 1px solid #B22222;
}

#estado {
	padding: 2px 10px 2px 10px;
	display: block;
	background-color: #BBBBBB;
	border-left: 2px solid #D3D3D3;
	/* border-top: 2px solid #D3D3D3; */
	border-right: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	width: calc(var(--num-columnas)*var(--size));
}

#estado div {
	text-align: right;
	font-family: sans-serif;
	font-size: 14px;
	color: #333333;
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	padding: 4px;
}

#tablero div.c1 {
	color: blue;
}

#tablero div.c2 {
	color: green;
}

#tablero div.c3 {
	color: red;
}

#tablero div.c4 {
	color: purple;
}

#tablero div.c5 {
	color: #660000;
}

#tablero div.c6 {
	color: #ffcc00;
}

#tablero div.c7 {
	color: #ff3300;
}

#tablero div.c8 {
	color: black;
}

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot');
	src: url('../fonts/fontello.woff2') format('woff2'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.ttf') format('truetype'), url('../fonts/fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 2px 2px 2px #999999;
}

.icon-bandera:before {
	content: '\e800';
	color: #B22222;
}

.icon-duda:before {
	content: '\e801';
}

.icon-bomba:before {
	content: '\f1e2';
}

#cronometro {
	padding: 10px;
	border: 5px #7c7bff double;
	width: 200px;
	text-align: center;
	background-color: #007;
	border-radius: 5px;
	margin: 1em 3em 1em 3em;
}

#reloj {
	padding: 5px 10px;
	width: 90%;
	border: 1px solid black;
	font: normal 1em arial;
	text-align: center;
	margin: 4px;
	background-color: #f0ffff;
	border-radius: 3px;
}

#cronometro [type=button] {
	margin: 4px;
	font: normal 9pt arial;
	width: 70px;
}
#resultado{
    color: white;
}
.container-fluid{
    width: 400px;
}
